* {
    margin: 10;
    padding: 10;
}

#Titulo {
    font-family: sans-serif;
    color: #290989;
    margin-left: 0%;
    page-break-before: left;
    font-size: 70px;
}

fieldset {
    border: 0;
    page-break-before: right;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 36%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: center;
    background-position: center;
    page-break-before: center;
    background-color: #fdfdfd;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grupo {
    font-family: sans-serif;
    font-size: 12px;
    color: #290989;

}

.text {
    position: absolute;
    font-size: 18px;
    width: 48% ;
    height: -20px;


}

.textX {
    color: #575757;
    font-size: 15px;

}
.textA {
    position: absolute;
    font-size: 18px;
    width: 65% ;
    height: -20px;

}
.textB {
    position: absolute;
    font-size: 18px;
    width: 58% ;
    height: -20px;
}
.textC {
    position: absolute;
    font-size: 18px;
    width: 66% ;
    height: -20px;
}
.textD{
    position: relative;
    margin-right: 43%;
    font-size: 18px;
    color: #000000;
}

.box {
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-width: 1.5px;
    padding: 15px;
    width: 500px;
    height: 950px;

    margin-top: 10%;
}

.input {
    border-radius: 5px;
    font-size: 20px;
    border-color: #b1b1b1;
    outline: none;
    padding: 15px;
    
}
.escolha{
    border-radius: 5px;
    font-size: 20px;
    border-color: #7a7a7a;
    border-width: 2px;
    outline: none;
    padding: 15px;
    width: 56%;
    color: #575757;
}

.botão {
    text-decoration: none;
    font-size: 21.3px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background: #00bbff;
    border-radius: 5px;
    border-color: #b1b1b1;
    padding: 15px;
    width: 278px;
    text-shadow: 0px 0px 0px #000000;
    cursor: pointer;
    transition: 0.3s;

}

.botão:hover {
    opacity: 4;
    background-color: #0091c5
}