* {
    margin: 10;
    padding: 10;
}

#Titulo {
    font-family: sans-serif;
    font-size: 70px;
    /* justify-content: center; */
    display: flex;
    align-content: center;
    color: #290989;
    margin-left: 0%;
    page-break-before: left;
}

fieldset {
    border: 0;
    page-break-before: right;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 36%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: center;
    background-position: center;
    page-break-before: center;
    background-color: #fdfdfd;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.grupo {
    font-family: sans-serif;
    font-size: 12px;
    color: #290989;

}

.text {
    position: absolute;
    font-size: 18px;
    width: 48% ;
    height: -20px;


}

.textX {
    color: #575757;
    font-size: 15px;

}
    

.box {
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-width: 1.5px;
    padding: 15px;
    width: 300px;
    height: 350px;

    
    margin-top: -150px;
    margin-bottom: 0px;
}

.input {
    border-radius: 5px;
    font-size: 20px;
    border-color: #b1b1b1;
    outline: none;
    padding: 15px;
}

.botão {
    text-decoration: none;
    font-size: 21.3px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background: #00bbff;
    border-radius: 5px;
    border-color: #b1b1b1;
    padding: 15px;
    width: 278px;
    text-shadow: 0px 0px 0px #000000;
    cursor: pointer;
    transition: 0.3s;

}

.botão:hover {
    opacity: 4;
    background-color: #0091c5
}